.cart {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100vh;
    
    &__title {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }

    &__list {
        width: 60%;
        margin: 0 auto;
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 10px 10px 0 0;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);

        &-title, &-details {
            text-align: center;
            color: #fff;
            font-size: 24px;
            margin: 10px;
        }

        &-details {
            display: flex;
            flex-direction: column;
        }

        &-ins {
            font-size: 14px;
            margin-bottom: 20px;
        }

        &-img {
            height: 125px;
            width: 250px;
            object-fit: cover;
        }
    }

    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }
}

.order__link, .order__btn {
    text-decoration: none;
    display: block;
    width: 170px;
    margin: 30px auto;
}

.order__btn {
    height: 40px;
    border-radius: 20px;
    background-color: green;
    border: none;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    transition: all 0.5s ease;
    cursor: pointer;

    &:active {
        transform: scale(0.9);
    }
}

.cart__buttons {
    display: flex;
}

.cart__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    outline: none;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px;
    margin: 3px;
    font-size: 11px;
    border-radius: .25rem;
    transition: all 0.3s ease;

    &:active {
        transform: scale(0.9);
    }
}

.cart__login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart__link {
    color: #fff;
    font-size: 24px;

    &:hover {
        color: rgba(#ccc, 0.85);
    }

    &:active {
        transform: scale(0.9);
    }
}

@media (max-width: 1140px) {
    .cart__item {
        width: 250px;
        flex-direction: column;

        &-ins {
            margin-bottom: 0;
            margin-right: 10px;
        }

        &-details {
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }
}

@media (max-width: 400px) {
    .cart__list {
        width: 80%;
    }

    
    .cart__item-title {
        font-size: 18px;
    }

    .cart__link {
        font-size: 14px;
    }
}