.header {
    background-color: rgba(0,0,0, .5);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    &__right {
        display: flex;
    }

    &__link {
        display: flex;
        margin-right: 40px;
        font-size: 18px;
        color: #fff;
        text-decoration: none;

        &:hover {
            color: rgba(#ccc, 0.85);
        }
    
        &:active {
            transform: scale(0.9);
        }
    }
    
    &__cart {
        width: 20px;
        margin-right: 10px;
    }

    &__exit {
        width: 30px;
    }

    &__logo {
        width: 75px;
    }
}

@media (max-width: 550px) {
    .header {
        justify-content: center;
        padding: 0 20px;

        &__link {
            margin-right: 15px;
        }
    }
}

@media (max-width: 400px) {
    .header {
        padding: 0;

        &__link {
            margin-right: 5px;
        }
    }
}